* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
}

#block { 
    height:100%;
    display: flex;
<<<<<<< HEAD
    flex-direction:column;
=======
    flex-direction:row;
>>>>>>> f2749f6e95419d889a9ad320182962ed89d1fbae
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    /* align-content: center; */
    align-items: center;
}
    
<<<<<<< HEAD
.A,
.B,
.C,
.D,
.E,
.F {
=======

.A,
.B,
.C {
>>>>>>> f2749f6e95419d889a9ad320182962ed89d1fbae
    height: 50px;
    border: 2px solid rgb(0, 0, 0);
    margin: 1px;
    text-align: center;
   
}
<<<<<<< HEAD

.A {
    align-self: start;
    order: 1;
}
.B{ width: 200px;
    align-self: end;
    order: 1;

}
.E {
    order: -1;
    background-color: deeppink;
}
=======
.B{ width: 200px;
    align-self: end;

}

>>>>>>> f2749f6e95419d889a9ad320182962ed89d1fbae



    